<section
  class='flex gap-4 flex-col sm:flex-row sm:col-span-full sm:border-t-2 sm:border-black sm:pt-4 lg:flex-col lg:col-start-5 lg:row-start-1 lg:row-span-full lg:border-t-0 lg:border-l-2 lg:pl-4 bg-emerald'
>
  <article>About</article>
  <article>Experienses</article>
  <article>Testamonials</article>
</section>
