---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>@storyblok/astro</title>
  </head>
  <body class='container max-w-6xl mx-auto'>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
</style>
